 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


main{
  min-height:100vh;

  
}
body{
  background-color: black;
  overflow: scroll;
}

.frame{
  min-height: 50vh;


}
#frame1{
  
  min-height:calc(125vh - 120px);
   background-image: url("11626621.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  
}




.post-box {
  display: flex;
  align-items: center;
  width: 80%;
  min-width: 250px;
  max-width: 500px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;margin: 20px;;
}
#post-table{
 margin:auto;

}
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#post-table tr td{
  /* width:250px; */
}
.post-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.post-title {
 
  margin: 0;
  font-size: 14px;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.double-line {
  position: relative;
height: 1px;
margin: 30px auto;
background-color: #fff;
width: 60%;
}

.double-line::before,
.double-line::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #000;
  width: 40%;
}

.double-line::before {
  top: -5px;
}

.double-line::after {
  bottom: -5px;
}
tr{
  overflow:hidden;
}

/*  */

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: 25px auto;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

.containerr {
  display: flex;
  flex-wrap: wrap;
 width: 100%;
 height: 100%;
 text-align: center;
align-items: center.0;
 padding: 25vh 0 0 0;
}

.subdiv {
  flex-basis: 100%; /* Each sub div takes 50% of the container width */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10px;
 
  text-align: center;
  
  
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.subdiv h1{
  font-family:Bebas Neue ;
  letter-spacing: 5px;
  margin: auto;
  vertical-align: middle;
}



@media (max-width: 600px) {
  .subdiv {
    flex-basis: 100%; /* Each sub div takes full container width */
  }
}

